<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">REGISTER FORM</h1>
  <form class="m-3 d-flex flex-column justify-content-evenly flex-wrap align-items-center" style="width: 380px;" action="/register" method="POST">
    <input class="m-2 p-2 text-center w-100" type="text" name="first_name" id="first_name" placeholder="Primer nombre" required />
    <input class="m-2 p-2 text-center w-100" type="text" name="last_name" id="last_name" placeholder="Apellido" required />
    <input class="m-2 p-2 text-center w-100" type="email" name="email" id="email" placeholder="Email" required />
    <input class="m-2 p-2 text-center w-100" type="number" name="age" id="age" placeholder="Edad:" required />
    <input class="m-2 p-2 text-center w-100" type="password" name="password" id="password" placeholder="Contraseña" required />
    
    <select class="m-2 p-2 text-center w-100" name="role">
      <option value="user" selected>User</option>
      <option value="admin">Admin</option>
    </select>

    <input class="m-2 p-2 text-center btn btn-success w-100" type="submit" value="Registrarse" />
  </form>
</main>
<script src=".. ../"></script>